name: CI/CD Pipeline

permissions:
  contents: read

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  secret-scan:
    name: Secret Scanning
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # to scan  full git history, not only latest commits
      - name: Trufflehog Secret Scanning
        uses: trufflesecurity/trufflehog@main
        with:
          path: ./
          extra_args: --only-verified

  build-and-test:
    runs-on: ubuntu-latest
    needs: secret-scan
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
      
    - name: Build images (frontend tests run here)
      run: docker compose build
    
    - name: Start services
      run: docker compose up -d
    
    - name: Wait for services to be ready
      run: |
        echo "Waiting for backend..."
        for i in {1..30}; do
          if curl -f http://localhost:5000/health > /dev/null 2>&1; then
            echo "✓ Backend is ready!"
            break
          fi
          echo "  Attempt $i/30..."
          sleep 2
        done
        
        echo "Waiting for frontend..."
        for i in {1..30}; do
          if curl -f http://localhost:80 > /dev/null 2>&1; then
            echo "✓ Frontend is ready!"
            break
          fi
          echo "  Attempt $i/30..."
          sleep 2
        done
    
    - name: Run backend tests
      run: docker compose exec -T backend npm test
      
    - name: Health checks
      run: |
        curl -f http://localhost:80 || exit 1
        curl -f http://localhost:5000/health || exit 1
        
    - name: show logs on failure
      if: failure()
      run: |
        echo "=====Backend Logs====="
        docker compose logs backend
        echo "=====Frontend Logs====="
        docker compose logs frontend

    - name: Login to Docker Hub
      if: github.event_name != 'pull_request'
      uses: docker/login-action@v3 
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Tag and Push images
      if: github.event_name != 'pull_request'
      run: |
        echo "Pushing images to Docker Hub..."
        docker compose push
        echo "✓ Images pushed successfully!"
      
    - name: Cleanup
      if: always()
      run: docker compose down -v

# removed `base/head`  Fixes:
# We tried first to set things manual while trufflehog handle things itself
# based on Github event type (push/pull_request)
